<h1>Here is a List of all Users</h1>
<ul>
  <% @users.each do |user| %>
    <li id="user-card-<%= user.id %>">
      <div">
        <img src="<%= user.photo %>" alt="<%= user.name %>'s photo" width="100% heigth="100%">
      </div>
      <div>
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p>Number of posts: <%= user.posts.count %></p>
      </div>
    </li>
  <% end %>
</ul>

<%= form_tag destroy_user_session_path, method: :delete, class: 'logout-form' do %>
  <%= submit_tag 'Log out', class: 'logout-button' %>
<% end %>

<a href="<%= new_user_post_path(current_user) %>">New Post</a>

