<%= form_with(model: post, url: user_posts_path(@user)) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
  
    <div>
      <%= form.submit 'Create Post', class: 'button' %>
    </div>
  <% end %>
  